altgraph==0.17.5
asgiref==3.8.1
cffi==2.0.0
cryptography==48.0.0
Django==5.2
django-extensions==4.1
django-session-timeout==0.1.0
django-user-agents==0.4.0
gunicorn==26.0.0
numpy==2.2.5
packaging==26.0
pandas==2.2.3
paquetecalculos @ file:///D:/Programacion/Proyectos/Python/Learning%20python
pefile==2024.8.26
pillow==12.1.1
pillow-avif-plugin==1.5.5
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
python-dateutil==2.9.0.post0
python-magic==0.4.27
python-magic-bin==0.4.14
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
regex==2024.11.6
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
user-agents==2.2.0
watchdog==6.0.0
whitenoise==6.12.0
